table {
    width: 100%;
    border-collapse: collapse;
  }
  thead {
    background-color: #f5f5f5;
  }
  th,
  td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  th {
    font-weight: normal;
    color: #333;
  }
  td {
    color: #555;
    cursor: pointer;
  }
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  .user-info {
    display: flex;
    align-items: center;
  }
  .income {
    color: #28a745;
    font-weight: bold;
  }
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .pagination button {
    padding: 10px 20px;
    margin: 0 5px;
    border: 1px solid #ddd;
    background-color: #fff;
    cursor: pointer;
  }
  .pagination .active {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
  }
  
  .progress-tracker {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
  }
  
  .step {
    padding: 10px 20px;
    position: relative;
    cursor: pointer;
  }
  
  .step:not(:last-child) {
    margin-bottom: 20px;
  }
  
  .step.active {
    color: #5459ea;
    font-weight: bold;
  }
  
  .step.active::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #5459ea;
    border: none;
    position: absolute;
    bottom: -5px;
    left: 0;
  }
  
  .search {
    margin-top: 20px;
  }
  
  .search input {
    width: 100%;
    padding: 15px;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    border: 1px solid #5459ea;
    border-radius: 10px;
  }
  
  .step-content {
    margin-top: 20px;
  }
.edit-button,
  .delete-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 5px;
    padding: 0;
    font-size: 14px;
    color: #007bff; /* Цвет для ссылки, можете изменить на свой выбор */
    display: inline-block; /* Добавляем, чтобы кнопки были в одной строке */
    vertical-align: middle; /* Выравниваем кнопки по вертикали */
  }

  .edit-button img,
  .delete-button img {
    width: 20px; /* Устанавливаем фиксированную ширину для изображений */
    height: 20px; /* Устанавливаем фиксированную высоту для изображений */
    vertical-align: middle; /* Выравниваем изображения по вертикали */
  }
  .step-content p {
    font-size: 16px;
    color: #333;
  }

  .filter{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin: 20px;
    background-color: #F9F9FB;
  }
  .filter img{
    margin-right: 30px;
  }
  .dropdown-content{
    display: flex;
  }
  .modal-content label{
    padding: 10px 20px 10px 20px;
    border: 1px solid gray;
    margin-left: 10px;
    border-radius: 20px;
  }
  .burger-icon{
    padding: 10px 20px 10px 20px;
    width: 120px;
    border: none;
    border-right: 1px solid #ccc;
    padding-right: 10px;
    margin-right: 10px;
    background-color: #F9F9FB;
    margin-left: 15px;    
    font-size: 15px;
    cursor: pointer;
  }
  .modal-overlay {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
  }
  
  .modal-content {
    background: white;
    padding: 20px 40px 20px 40px;
    border-radius: 10px 10px 10px 10px;
    /* width: 100%; */
    /* max-width: 500px; */
  }
  .closeModal{
    margin-top: 30px;
    margin-left: 20px;
    padding: 10px 20px 10px 20px;
    background-color: #007bff;
    border-radius: 20px;
    color: white;
    font-weight: 600;
    border: none;
  }
  .modal-content h4{
    margin-left: 20px;
    margin-bottom: 30px;
  }
  .dropdown-content {
    display: none;
  }
  
  .dropdown-content label {
    display: block;
  }
  
  .burger-icon {
    cursor: pointer;
  }
  .filter-items {
    border-right: 1px solid #ccc;
    padding-right: 10px;
    margin-right: 10px;
    background-color: #F9F9FB;
  }