* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    font-family: Arial, sans-serif;
}
.container {
    background-color: white;
    width: 90%;
    max-width: 780px;
    border-radius: 30px;
    overflow: hidden;
}
.content {
    display: flex;
    flex-direction: column;
}
.img_content {
    display: none;
}
.text_content {
    padding: 20px;
    text-align: center;
}
.text_content img {
    max-width: 100%;
    height: auto;
}
.text_content h1 {
    margin: 20px 0;
}
.text_content div {
    margin-bottom: 20px;
}
.text_content input {
    width: 100%;
    max-width: 316px;
    height: 42px;
    border-radius: 10px;
    padding-left: 10px;
    border: 1px solid #ccc;
}
.text_content p {
    font-weight: 700;
    margin-bottom: 5px;
}
.text_content button {
    width: 100%;
    max-width: 316px;
    height: 48px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

@media(min-width: 768px) {
    .content {
        flex-direction: row;
    }
    .img_content {
        display: block;
        width: 50%;
    }
    .text_content {
        width: 50%;
        padding: 40px 20px;
    }
}

@media(min-width: 1024px) {
    .container {
        height: 581px;
    }
    .text_content {
        padding: 40px;
    }
}